.couches{
  background-color: var(--Black-color);

  &__title{
    position: relative;
    padding-left: 170px;
    padding-top: 150px;
  }
  &__title::before{
    content: "";
    position: absolute;
    left: 170px;
    bottom: -4px;
    width: 286px;
    height: 2px;
    background-color: var(--Pizza-color);
}
&__wrapper {
  padding-left: max(20px, calc((100% - var(--content-width)) / 2));
  padding-top: 125px;
}


  &__content {
    margin-bottom: 75px;

  }
&__item{
padding: 52px 75px;
background: radial-gradient(63.18% 63.18% at 36.98% 36.82%, #27282D 38.54%, rgba(39, 40, 45, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
  .swiper-slide {
    width: 593px;
  }

  &__image {
    margin-bottom: 30px;

  }

  &__name {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
font-size: 24px;
line-height: 31px;
    color: var(--White-color);
  }
&__work{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
  &__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--White-color);

  }

  &__nav {
    @include flex-all-center;
  }


  &__btns {
    @include flex-v-center;
    margin-bottom: 150px;
  }

  &__slider-btn {
    width: 90px;
    height: 40px;

    &--prev {
     display: flex;
     align-items: center;
    }

    &--next {
      display: flex;
     align-items: center;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
