.header{
    padding: 50px 0;
   background-image: url('../img/hero1920.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 1028px;

    &__container {
        @include flex-all-sb;
        }
      }


