<section class="about">
  <div class="container about__container">
    <h2 class="title about__title">About us</h2>
      <div class="about__left"></div>
      <div class="about__text">
        We are a dedicated team of fitness enthusiasts who believe in the transformative power of exercise. Our mission is to help people of all ages and abilities achieve their fitness goals through fun, effective and innovative workouts. Join us on our journey to health and wellness!

        We are a dedicated team of fitness enthusiasts who believe in the transformative power of exercise. Our mission is to help people of all ages and abilities achieve their fitness goals through fun, effective and innovative workouts. Join us on our journey to health and wellness!
      </div>
      <div class="about__right"></div>

  </div>
</section>
