<section class="contacts">
  <div class="container contacts__container">
    <h2 class="title contacts__title">Contact Us</h2>
    <div class="contacts__wrap">
      <div class="contacts__left">
<ul class="contacts__list list-reset">
  <li class="contacts__item">
    <a href="#" target="_blank" class="contacts__link">
      <svg class="contacts__svg" width="90px">
        <use xlink:href="img/sprite.svg#mail2"></use>
      </svg>
    hjllkorkop</a>
  </li>
  <li class="contacts__item">
    <a href="#" target="_blank" class="contacts__link">
      <svg class="contacts__svg" width="90px">
        <use xlink:href="img/sprite.svg#map" ></use>
      </svg>
    jllytyuiop[</a>
  </li>
  <li class="contacts__item">
    <a href="#" target="_blank" class="contacts__link">
      <svg class="contacts__svg" width="90px">
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
    dfghjkl</a>
  </li>
</ul>
      </div>
      <div class="contacts__right">
        <h2 class="contacts__right-title">
          Запишитесь на курс со скидкой 10%
        </h2>
        <p class="contacts__tigh-descr">
          Акция действительна до 10 марта 2022 года
        </p>
        <form action="#" class="form contacts__form">
          <label class="form__label">
            <input type="text" name="name" class="form__input input-name" placeholder="Name">
          </label>
          <label class="form__label">
            <input type="tel" name="phone" class="form__input input-tel" placeholder="Phone">
          </label>
          <label class="form__label">
            <input type="email" name="E-mail" class="form__input input-email" placeholder="E-mail">
          </label>
          <button class="btn-reset btn form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
