<section class="couches">
  <div class="container couches__container">
    <h2 class="title couches__title">Our couches</h2>
  </div>
    <div class="couches__wrapper">
      <div class="swiper couches__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="couches__item">
                <picture>
                  <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                    <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                    <img loading="lazy" src="img/couches1-1920.jpg" class="couches__image" alt="Ирина Лайм">
                  </picture>
                  <p class="couches__name">Ирина Лайм /
                    <span class="couches__work">jklllll</span>
                  </p>
                  <button class="btn btn-reset couches__btn">Подробнее</button>
                </div>
            </div>
          <div class="swiper-slide">
            <div class="couches__item">
              <picture>
               <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                   <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                   <img loading="lazy" src="img/couches2-1920.jpg" class="couches__image" alt="Ирина Лайм">
               </picture>
               <p class="couches__name">Ирина Лайм /
                <span class="couches__work">jklllll</span>
              </p>
              <button class="btn btn-reset couches__btn">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="couches__item">
              <picture>
               <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                   <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                   <img loading="lazy" src="img/couches3-1920.jpg" class="couches__image" alt="Ирина Лайм">
               </picture>
               <p class="couches__name">Ирина Лайм /
                <span class="couches__work">jklllll</span>
              </p>
              <button class="btn btn-reset couches__btn">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="couches__item">
              <picture>
               <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                   <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                   <img loading="lazy" src="img/couches4-1920.jpg" class="couches__image" alt="Ирина Лайм">
               </picture>
               <p class="couches__name">Ирина Лайм /
                <span class="couches__work">jklllll</span>
              </p>
              <button class="btn btn-reset couches__btn">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="couches__item">
              <picture>
               <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                   <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                   <img loading="lazy" src="img/couches5-1920.jpg" class="couches__image" alt="Ирина Лайм">
               </picture>
               <p class="couches__name">Ирина Лайм /
                <span class="couches__work">jklllll</span>
              </p>
              <button class="btn btn-reset couches__btn">Подробнее</button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="couches__item">
              <picture>
               <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                   <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                   <img loading="lazy" src="img/couches6-1920.jpg" class="couches__image" alt="Ирина Лайм">
               </picture>
              <p class="couches__name">Ирина Лайм /
                <span class="couches__work">jklllll</span>
              </p>
              <button class="btn btn-reset couches__btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="couches__nav">
        <div class="couches__btns">
          <button class="btn-reset couches__slider-btn couches__slider-btn--prev" aria-label="Перейти к предыдущему слайду">
            <svg class="" width="90px"   >
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="btn-reset couches__slider-btn couches__slider-btn--next"
          aria-label="Перейти к следующему слайду">
          <svg class="" width="90px">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg></button>
        </div>
      </div>
    </div>

</section>
