<footer class="footer">
    <div class="container footer__container">
          <a href="#" class="header__logo">
            <picture>
              <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
              <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
              <img src="img/logo1920.svg" class="image" alt="logo VStar Gym">
            </picture>
          </a>
          <ul class="footer__list list-reset">
            <li class="footer__list-item">
              <a href="#" aria-label="Social facebook" class="footer__link">
                <svg class="footer__svg">
                  <use xlink:href="/img/sprite.svg#facebook" ></use>
                </svg>
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#" aria-label="Social twitter" class="footer__link">
                <svg class="footer__svg">
                  <use xlink:href="/img/sprite.svg#twitter" ></use>
                </svg>
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#" aria-label="Social instagram" class="footer__link">
                <svg class="footer__svg">
                  <use xlink:href="/img/sprite.svg#instagram" ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
</footer>
