<section class="gallery">
  <div class="container gallery__container">
    <h2 class="title gallery__title">Gallery</h2>
    <div class="gallery__wrapper">
      <div class="swiper gallery__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="gallery__item">
                <picture>
                  <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                    <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                    <img loading="lazy" src="img/gallery1-1920.jpg" class="couches__image" alt="slide1">
                  </picture>
                </div>
            </div>
            <div class="swiper-slide">
              <div class="gallery__item">
                <picture>
                  <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                    <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                    <img loading="lazy" src="img/gallery2-1920.jpg" class="couches__image" alt="slide2">
                  </picture>
                </div>
            </div>
            <div class="swiper-slide">
              <div class="gallery__item">
                <picture>
                  <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
                    <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
                    <img loading="lazy" src="img/gallery3-1920.jpg" class="couches__image" alt="slide3">
                  </picture>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="gallery__nav">
      <div class="gallery__btns">
        <button class="btn-reset gallery__slider-btn gallery__slider-btn--prev" aria-label="Перейти к предыдущему слайду">
          <svg class="" width="90px">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-reset gallery__slider-btn gallery__slider-btn--next"
        aria-label="Перейти к следующему слайду">
        <svg class="" width="90px">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg></button>
      </div>
    </div>

  </div>
</section>
