<header class="header">
    <div class="container header__container">
  <a href="#" class="header__logo">
    <picture>
      <!-- <source class="lazy" srcset="img/Logo-550.svg" media="(max-width: 550px)">
      <source srcset="img/Logo-1024.svg" media="(max-width: 1200px)"> -->
      <img src="img/logo1920.svg" class="image" alt="logo VStar Gym">
    </picture>
  </a>
  <button class="burger btn-reset" aria-label="open menu">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
  </button>
  <nav class="nav" title="menu">
    <ul class="list-reset nav__list">
      <li class="nav__item"><a href="#about" class="nav__link">About Us</a></li>
      <li class="nav__item"><a href="#coaches" class="nav__link">Our coaches</a></li>
      <li class="nav__item"><a href="#sgallery" class="nav__link">Gallery</a></li>
      <li class="nav__item"><a href="#pricing" class="nav__link">Pricing</a></li>
      <li class="nav__item"><a href="#contacts" class="nav__link">Contact Us</a></li>
    </ul>
    <span class="burger__contacts ">
      <img src="img/phone.svg" alt="Phone" >
      <a href="tel:+749542423532" class="burger__phone">
        +7 495 424-23-532</a
      >
    </span>
    <button class="burger__close btn-reset" aria-label="close">
      <img src="#"  class="burger__close-svg" alt="close">
    </button>
  </nav>
    </div>
  </header>
