<section class="pricing">
  <div class="container pricing__container">
    <h2 class="title pricing__title">Pricing</h2>
    <ul class="list-reset pricing__list">
<li class="pricing__item">
  <div class="pricing__item-wrap">

    <h3 class="pricing__item-title">hjfjkfjekf</h3>
    <span class="pricing__item-price">30 $</span>
    <p class="pricing__item-text">fggfg ghjkl wfgbhjnmk,</p>
    <ul class="pricing__advantages">
      <li class="pricing__advantages-item">deregfrgggththh</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
    </ul>
    <button class="btn btn-reset pricing__btn">Записаться</button>
  </div>

</li>
<li class="pricing__item">
  <div class="pricing__item-wrap">

    <h3 class="pricing__item-title">hjfjkfjekf</h3>
    <span class="pricing__item-price">30 $</span>
    <p class="pricing__item-text">fggfg ghjkl wfgbhjnmk,</p>
    <ul class="pricing__advantages">
      <li class="pricing__advantages-item">deregfrgggththh</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
    </ul>
    <button class="btn btn-reset pricing__btn">Записаться</button>
  </div>

</li>
<li class="pricing__item">
  <div class="pricing__item-wrap">

    <h3 class="pricing__item-title">hjfjkfjekf</h3>
    <span class="pricing__item-price">30 $</span>
    <p class="pricing__item-text">fggfg ghjkl wfgbhjnmk,</p>
    <ul class="pricing__advantages">
      <li class="pricing__advantages-item">deregfrgggththh</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
      <li class="pricing__advantages-item">vbgbgnhnhj</li>
    </ul>
    <button class="btn btn-reset pricing__btn">Записаться</button>
  </div>

</li>

    </ul>

  </div>
</section>
